<% @page_title = "Pieslēgšanās" %>

<div class="header">Log-in</div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Pieslēgties</font>
	( <%= link_to "Jauns lietotājs?", signup_path %> )
</div>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Pieslēgties' %></p>
<% end -%>
