<% @page_pid = {:users => "users", :user => @user} %>
<% @page_title = "Main카t lietot훮ja datus" %>

<div class="header"><%= user_login(@user).capitalize %></div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Main카t</font>
</div>

<%= error_messages_for :user %>

<% form_for :user, :url => user_path(@user), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>

	<% if admin? && @user.id != 1 %>
	  <p><label for="role">User's role</label><br/>
	    <%= f.select :role, user_roles_for_select %></p>
	<% end %>
	
  <p><%= submit_tag "Izmain카t" %></p>
<% end %>
