<font size="2.5em" face="Monaco" color="orange">Mainīt</font>
<h2><%= @order.created_at.to_s(:short_date_time) %></h2>

<%= error_messages_for :order %>

<p>
	<b>Produkts:</b> <%= product_name(@product) %><br />
	<%= product_availability_info %>
	<b>Daudzums max:</b> <%= @order.quantity_available_total_for_update %>
</p>

<%# ---- test ---- %>

<b>all batches</b><br />
<% @order.find_product.batches.each do |batch| %>
	id: <%= batch.id %>,
	arrive_on: <%= batch.arrive_on.to_date %>, 
	quant: <%= batch.quantity %>,
	avail: <%= batch.available_total %><br />
<% end %>
<br />
<b>batches used by order</b><br />
<% @order.batches.each do |batch| %>
	id: <%= batch.id %>,
	arrive: <%= link_to batch.arrive_on.to_s(:short_date), batch_path(batch) %>,
	quant: <%= batch.quantity %>,
	avail: <%= batch.available_total %><br />
<% end %>
<br />
<b>orders_from_batches</b><br />
<% @order.orders_from_batches.each do |ofb| %>
	id: <%= ofb.id %>,
	batch_id: <%= ofb.batch_id %>,
	quantity: <%= ofb.quantity %><br />
<% end %>

<%# ---- test ---- %>

<% form_for :order, :url => order_path(@order), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmainīt" %></p>
<% end %>

<p>
	&larr; <%= link_to "atpakaļ", user_order_path(@order.user, @order) %>
</p>
