<font size="2.5em" face="Monaco" color="orange">Mainīt</font>
<h2><%= @order.created_at.to_s(:short_date_time) %></h2>

<%= error_messages_for :order %>

<p>
	<b>Produkts:</b> <%= product_name(@order.find_product) %><br />
	<b>Kopā (noliktavā):</b>
	daudzums:<b><%= @order.find_product.batches_quantity_total %></b>,
	rezervēti:<b><%= @order.find_product.batches_reserved_total %></b>,
	brīvi:<b><%= @order.find_product.batches_available_total %></b>
</p>

<%# ---- test ---- %>

<b>all batches</b><br />
<% @order.find_product.batches.each do |batch| %>
	id:<%= batch.id %>,
	arrive_on:<%= batch.arrive_on.to_date %>, 
	q:<%= batch.quantity %>,
	avail:<%= batch.available_total %><br />
<% end %>

<%# ---- test ---- %>

<% form_for :order, :url => order_path(@order), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmainīt" %></p>
<% end %>

<p>
	&larr; <%= link_to "atpakaļ", user_order_path(@order.user, @order) %>
</p>
