<% @page_pid = {:category => @product.category, :product => @product} %>
<% @page_title = "Main카t rezerv훮ciju" %>

<div class="header"><%= @order.created_at.to_s(:short_date_time) %></div>

<div class="caption">
	<font size="2.5em" face="Monaco" color="orange">Main카t</font>
</div>

<%= error_messages_for :order %>

<p>
	<%= product_availability_info %>
	<b>Daudzums max:</b> <%= @order.quantity_available_total_for_update %>
</p>

<% form_for :order, :url => order_path(@order), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmain카t" %></p>
<% end %>
