<% @page_title = " - " + @user.login.capitalize %>

<h2><%= @user == current_user ? "manas" : user_login(@user); %> rezervaacijas</h2>

<%# Css.. :) %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th>Produkts</th>
		<th>Rezervēts</th>
		<th>Daudzums</th>
		<th>Realizācija</th>
		<th>Komentārs</th>
		<th></th>
	</tr>
<% if @user.orders.any? %>
    
		<% @user.orders.each do |order| %>
			
				<% order.orders_from_batches.each do |orders_from_batch| %>
				  <%# ir taads forshs verkjis cycle('even', 'odd'), kuru var lietot kopaa ar tr klasi: %>
				  <%# <tr class="<%= cycle('even', 'odd') " %>
				  <%# ..vai get bones un lieto tr do ... end, kas liek to cycle: %>
				  <%# http://dev.bitmap.lv/trac/plugins/browser/bones/generators/bones/templates/bones_helper.rb.erb#L61 - def tr ... end %>
					<% tr do %>
					<td>
					<%= link_to product_name(orders_from_batch.batch.product), orders_from_batch.batch.product %>
					(<%= link_to category_name(orders_from_batch.batch.product.category), orders_from_batch.batch.product.category %>)
					</td>
					<td>
					<%= orders_from_batch.created_at.to_s(:short_date_time) %>
					</td>
					<td>
					<%= orders_from_batch.quantity %>
					</td>
					<td>
					<% if orders_from_batch.leave_on < Time.now %>
						<font color="gray"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
					<% elsif orders_from_batch.leave_on = Time.now || orders_from_batch.leave_on <= Time.now + 3.days %>
						<font color="red"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
					<% elsif orders_from_batch.leave_on > Time.now + 3.days && orders_from_batch.leave_on < Time.now + 7.days %>
						<font color="orange"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
					<% else %>
						<font color="black"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
					<% end %>
					</td>
					<td>
					<%=h orders_from_batch.comment %>
					</td>
				<td>
				<% admin_area do %>
					<%= link_to "mainīt", edit_order_orders_from_batch_path(orders_from_batch.order, orders_from_batch) %> |
				<% end %>
				
				<% if current_user_is_order_owner(order) || admin? %>
					<b><%= link_to "dzēst", batch_order_path(orders_from_batch.batch, order), :method => :delete, :confirm => "tiešām?!"%></b>
				<% end %>
		<% end %>
				</td>
			<% end %>
				
	<% end %>
	
<% else %>
	<p>nav rezervaaciju</p>
<% end %>

</table>