<h2><%= @user == current_user ? "manas" : user_login(@user); %> rezervācijas</h2>

<p>
	<%= link_to "izpildītie", "#" %> &darr;sorteeshana&darr; paginate
</p>

<%# Css.. :) %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th width="10px"></th>
		<th>Rezervācija</th>
		<th>Produkts</th>
		<th>Daudzums</th>
		<th>Realizācija</th>
		<th>Komentārs</th>
	</tr>
<% if @user.orders.any? %>
	<% @user.orders.each do |order| %>
		<%# unless order.completed? %>
	
				  <%# ir taads forshs verkjis cycle('even', 'odd'), kuru var lietot kopaa ar tr klasi: %>
				  <%# <tr class="<%= cycle('even', 'odd') " %>
				  <%# ..vai get bones un lieto tr do ... end, kas liek to cycle: %>
				  <%# http://dev.bitmap.lv/trac/plugins/browser/bones/generators/bones/templates/bones_helper.rb.erb#L61 - def tr ... end %>
	
			<% tr do %>
				<td><%#= check_box :order, :completed, {:checked => order.completed?} %>
					<%= link_to image_tag("edit.png", :mouseover => image_path("edit_over.png")), edit_product_order_path(order.find_product, order) %>
				</td>
				<td nowrap>
					<%= link_to order.created_at.to_s(:short_date_time), user_order_path(order.user, order) %> &nbsp;
				</td>
				<td>
					<%= link_to product_name(order.find_product), product_path(order.find_product) %>
					[<%= link_to category_name(order.find_product.category), category_path(order.find_product.category) %>]
				</td>
				<td>
					<%= order.orders_from_batches_quantity_sum %>
				</td>
				<td>
					<% leave_date = order.leave_on.to_date %>
					<% short_leave_date = order.leave_on.to_s(:short_date) %>
			
					<% if leave_date < Date.today %>
						<font color="gray"><%= short_leave_date %></font>
					<% elsif leave_date >= Date.today && leave_date <= Date.today + 2.days %>
						<font color="red"><%= short_leave_date %></font>
					<% elsif leave_date > Date.today + 2.days && leave_date < Date.today + 7.days %>
						<font color="brown"><%= short_leave_date %></font>
					<% else %>
						<font color="black"><%= short_leave_date %></font>
					<% end %>
				</td>
				<td>
					<%= truncate(h(order.comment), 25) %>
				</td>
			<% end %>
		<%# end %>
	<% end %>
<% else %>
	<p>Nav rezervāciju.</p>
<% end %>
</table>
<br />
