<font size="2.5em" face="Monaco" color="orange">Rezervēt</font>
<h2><%= product_name(@product) %></h2>

<%= error_messages_for :order %>

<p>
	<%= product_availability_info %>
</p>

<% form_for :order, :url => product_orders_path do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Rezervēt" %></p>
<% end %>

<p>
	&larr; <%= link_to "atpakaļ", product_path(@product) %>
</p>
