<h2>Rezervācija: <%= @order.created_at.to_s(:short_date_time) %></h2>

<p>
	&larr; <%= link_to "atpakaļ", product_path(@order.find_product) %> |
	
	<% admin_area do %>
		<%= link_to "mainīt", edit_product_order_path(@order.find_product, @order) %> |
	<% end %>
	
	<% if current_user_is_order_owner(@order) || admin? %>
		<b><%= link_to "dzēst", order_path(@order), :method => :delete, :confirm => "tiešām?!"%></b>
	<% end %>
</p>
user: <%= link_to user_login(@order.user), user_orders_path(@order.user) %><br />
prod: <%= link_to product_name(@order.find_product), product_path(@order.find_product) %><br />
created: <%= @order.created_at.to_s(:short_date_time) %><br />
updated: <%= @order.updated_at.to_s(:short_date_time) %><br />
leave: <%= @order.leave_on.to_s(:short_date) %><br />
quant: <%= @order.quantity %><br />
status: <%= @order.completed? ? "completed" : "active" %><br />
comment: <%= simple_format(h(@order.comment)) %>

<b>batches used by order</b><br />
<% @order.batches.each do |batch| %>
	id: <%= batch.id %>,
	arrive: <%= link_to batch.arrive_on.to_s(:short_date), batch_path(batch) %>, 
	quant: <%= batch.quantity %>,
	avail: <%= batch.available_total %><br />
<% end %>

<b><br />orders_from_batches</b><br />
<% @order.orders_from_batches.each do |ofb| %>
	id: <%= ofb.id %>,
	batch_id: <%= ofb.batch_id %>,
	quantity: <%= ofb.quantity %><br />
<% end %>
