<% @page_pid = {:category => @product.category, :product => @product} %>
<% @page_title = "#{product_name(@product)} partijas" %>

<div class="header">Partijas: <%= product_name(@product) %></div>

<% admin_area do %>
<div class="caption">
	<%= link_to "jauna partija", new_product_batch_path(@product) %>
</div><br />
<% end %>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @product.batches.any? %>
	<tr>
		<td colspan="5">
			<%= product_availability_info %>
		</td>
	</tr>
	<tr>
		<th>Partija</th>
		<th>Daudzums</th>
		<th>Rezervēti</th>
		<th>Brīvi</th>
		<th>Pievienota</th>
	</tr>
	<% @product.batches.each do |batch| %>
	  <% tr do %>
			<td><%= link_to batch.arrive_on.to_s(:short_date), batch_path(batch) %></td>
			<td><%= batch.quantity %></td>
			<td><%= batch.reserved_total %></td>
			<td><%= batch.available_total < 0 ? "<b>#{batch.available_total}</b>" : "#{batch.available_total}" %></td>
			<td><%= batch.created_at.to_s(:short_date_time) %></td>
		<% end %>
	<% end %>

<% else %>
	<p>Nav nevienas partijas.</p>
<% end %>
</table>
<br />
