<h2>Aktīvās partijas: <%= product_name(@product) %></h2>

<p>
	&larr; <%= link_to "atpakaļ", product_path(@product) %> |
	<%= link_to_unless @product.batches_available_total <= 0, "rezervēt", new_product_order_path(@product) %>
	
	<% admin_area do %>
		| visas partijas |
		<%= link_to "jauna partija", new_product_batch_path(@product) %> &rarr;
	<% end %>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @product.batches.any? %>
	<tr>
		<td colspan="5">
			<b>Kopā (noliktavā):</b>
			daudzums:<b><%= @product.batches_quantity_total %></b>,
			rezervēti:<b><%= @product.batches_reserved_total %></b>,
			brīvi:<b><%= @product.batches_available_total %></b><br />
		</td>
	</tr>
	<tr>
		<th>Partija</th>
		<th>Daudzums</th>
		<th>Rezervēti</th>
		<th>Brīvi</th>
		<th>Pievienota</th>
	</tr>
	<% @product.batches.each do |batch| %>
	  <% tr do %>
			<td><%= link_to batch.arrive_on.to_s(:short_date), batch_path(batch) %></td>
			<td><%= batch.quantity %></td>
			<td><%= batch.reserved_total %></td>
			<td><%= batch.available_total < 0 ? "<b>#{batch.available_total}</b>" : "#{batch.available_total}" %></td>
			<td><%= batch.created_at.to_s(:short_date_time) %></td>
		<% end %>
	<% end %>

<% else %>
	<p>Nav nevienas partijas.</p>
<% end %>
</table>
<br />
