<font size="2.5em" face="Monaco" color="orange">Mainīt</font>
<h2><%= category_name(@category) %></h2>

<%= error_messages_for :category %>

<% form_for :category, :url => category_path(@category), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmainīt" %></p>
<% end %>

<p>
	&larr; <%= link_to "atpakaļ", category_path %>
</p>
