<% @page_title = " - Kategorijas" %>

<h2>Kategorijas</h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th>Kategorijas</th>
		<th></th>
	</tr>
		<% @categories.each do |category| %>
			<% tr do %>
		<td>
	      <%= link_to category_name(category), category_path(category) %> 
			  (<%= category.products.count %>)
		</td><td>
				<% admin_area do %>
					<%= link_to "mainīt", edit_category_path(category) %> | 
					<%= link_to "dzēst", category_path(category), :method => :delete, :confirm => "tiešām?!"%>
				<% end %>
		</td>
			<% end %>
		<% end %>
</table>

<p>
  <% admin_area do %>
    <%= link_to "Pievienot jaunu kategoriju", new_category_path %>
  <% end %>
</p>
