<h2>Kategorijas</h2>
<p>
	<% admin_area do %>
  	<%= link_to "izveidot jaunu kategoriju", new_category_path %>
  <% end %>
</p>

<% @categories.each do |category| %>
	&bull; <%= link_to category_name(category), category_path(category) %> (<%= category.products.count %>)<br />

		<!--
		<td>
				<% admin_area do %>
					<%= link_to "mainīt", edit_category_path(category) %> | 
					<%= link_to "dzēst", category_path(category), :method => :delete, :confirm => "tiešām?!"%>
				<% end %>&nbsp;
		</td>
		-->

<% end %>

<!--
<p>
  <% admin_area do %>
    <%= link_to "Pievienot jaunu kategoriju", new_category_path %>
  <% end %>
</p>
-->

<br />
<h2>Jaunākās produktu partijas</h2>
<p>
	<% @batches.each do |batch| %>
		<%= batch.arrive_on.to_s(:short_date) %>
		<%= link_to product_name(batch.product), batch.product %>
		[<%= link_to category_name(batch.product.category), batch.product.category %>]
		(<%= batch.quantity %>)<br />
	<% end %>
</p>
<br />
<h2>Pēdējās rezervācijas</h2>
<p>
	<% @orders.each do |orders_from_batch| %>
		<%= link_to orders_from_batch.created_at.to_s(:short_date_time), user_order_path(orders_from_batch.order.user, orders_from_batch.order) %>
		by <%= link_to user_login(orders_from_batch.order.user), user_orders_path(orders_from_batch.order.user) %>
		- <%= link_to product_name(orders_from_batch.batch.product), product_path(orders_from_batch.batch.product) %>
		[<%= link_to category_name(orders_from_batch.batch.product.category), category_path(orders_from_batch.batch.product.category) %>]
		(<%= orders_from_batch.quantity %>)<br />
	<% end %>
</p>

<%# ---- test ---- %>

<%- 2.times do -%>
	<%= tag(:br) %>
<%- end -%>

<% content_tag :div do %>
  <%= content_tag :span, "test" %>
<% end %>

<% content_tag :table do %>
  <% content_tag :tr do %>
     <%= content_tag :td, 'data 1' %>
     <%= content_tag :td, 'data 2' %>
  <% end %>
<% end %>

<%= link_to_function "toggle with my div", "Element.toggle('to_toggle')" %>
<div id="to_toggle" style="display: none;">
  <%= content_tag(:p, "Hello world!") %>
	<%= content_tag(:div, content_tag(:p, "Hello world!"), :class => "strong") %>
	<% content_tag :div, :class => "strong" do -%>
	  Hello world!
	<% end -%>
</div>
