<h2><%= category_name(@category) %></h2>
<p>
	&larr; <%= link_to "atpakaļ", categories_path %> |
	
	<% admin_area do %>
		<%= link_to "mainīt", edit_category_path(@category) %> |
		<%= link_to "dzēst", category_path(@category), :method => :delete, :confirm => "tiešām?!"%> |
		visi produkti |
  	<%= link_to "jauns produkts", new_category_product_path(@category) %>
		&rarr;
  <% end %>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @category.products.any? %>
	<tr>
		<th width="10px"></th>
		<th>Produkts</th>
		<th>Daudzums</th>
		<th>Rezervēti</th>
		<th>Brīvi</th>
	</tr>
	<% @category.products.each do |product| %>
		<% tr do %>
			<td>
				<%= link_to_if product.batches_available > 0, image_tag("book.png", :mouseover => image_path("book_over.png")), new_product_order_path(product) %></td>
			<td><%= link_to product_name(product), product_path(product) %></td>
			<td><%= product.batches_quantity_total %></td>
			<td><%= product.batches_reserved_total %></td>
			<td><%= product.batches_available_total %></td>
		<% end %>
	<% end %>
<% else %>
	<p>Šajā kategorijā nav pievienots neviens produkts.</p>
<% end %>
</table>
