<% @page_pid = {:category => @category} %>

<h2><%= category_name(@category) %></h2>
<p>
	&larr; <%= link_to "atpakaļ", categories_path %>
	
	<% admin_area do %>
		| <%= link_to "mainīt", edit_category_path(@category) %>
		| <%= link_to "dzēst", category_path(@category), :method => :delete, :confirm => "tiešām?!"%>
		
		<% if current_page?(:show_products => :all) %>
			| <%= link_to "aktīvie produkti", { :action => "show" } %>
		<% else %>
			| <%= link_to_if @category.products.any?, "visi produkti", { :action => "show", :show_products => :all } %>
		<% end %>
		
  	| <%= link_to "jauns produkts", new_category_product_path(@category) %>
		&rarr;
  <% end %>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @category.products.any? %>
	<tr>
		<th width="10px"></th>
		<th width="10px"></th>
		<th>Produkts</th>
		<th>Daudzums</th>
		<th>Rezervēti</th>
		<th>Brīvi</th>
	</tr>
	<% @category.products.each do |product| %>
		<% unless (params[:show_products]) != "all" && !product.visible? %>
		<%# if product.visible? %>
			<% tr product.visible? ? {} : (options = {:class => "compl"}) do %>
			<%# tr do %>
				<td><%= link_to_if product.batches_available > 0, image_tag("book.png", :mouseover => image_path("book_over.png"), :border => 0, :alt => "Order"), new_product_order_path(product) %></td>
				<td><%= link_to_function image_tag("info.png", :mouseover => image_path("info_over.png"), :border => 0, :alt => "Info"), "Element.toggle('toggle_#{product.id.to_s}')" %></td>
				<td><%= link_to product_name(product), product_path(product) %></td>
				<td><%= product.batches_quantity %></td>
				<td><%= product.incomplete_orders_quantity %></td>
				<td><%= product.batches_available %></td>
			<% end %>
			<% content_tag :tr, :id => "toggle_#{product.id.to_s}", :style => "display: none;", :bgcolor => "white" do %>
				<% content_tag :td, :colspan => "6" do %>
					<table width="100%" border="0" cellspacing="10" cellpadding="0">
						<tr>
							<td valign="top"><p>
								<% for asset in product.assets do %>
									<%= image_tag asset.public_filename, :height => "100px" %><br />
								<% end %></p>
							</td>
							<td valign="top" width="100%">
								<%= simple_format(h(product.description)) %>
							</td>
						</tr>
					</table>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<p>Šajā kategorijā nav pievienots neviens produkts.</p>
<% end %>
</table>
