<% @page_title = " - Mainīt produktu" %>
<% @page_id = "product_category_#{@product.category.id}" %>

<font size="2.5em" face="Monaco" color="orange">Mainīt</font>
<h2><%= product_name(@product) %></h2>

<%= error_messages_for :product %>

<% form_for :product, :url => product_path(@product), :html => {:method => :put} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p><%= submit_tag "Izmainīt" %> vai <%= link_to "dzēst", product_path(@product), :method => :delete, :confirm => "tiešām?!"%></p>
<% end %>

<p>
	&larr; <%= link_to "atpakaļ", product_path %>
</p>