<% @page_title = " - " + @product.name.capitalize %>
<% @page_id = "product_category_#{@product.category.id}" %>

<h2><%= product_name(@product) %></h2>

<p>
	<% admin_area do %>
		<%= link_to "mainīt", edit_product_path(@product) %> |
		<%#= link_to "dzēst", product_path(product), :method => :delete, :confirm => "tiešām?!"%>
		<%= link_to "pievienot jaunu partiju", new_product_batch_path(@product) %> |
	<% end %>
	rezerveet?
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @product.batches.any? %>
	<tr>
		<td colspan="6">
		<b>Kopā (noliktavā):</b>
		daudzums:<b><%= product_batches_quantity_total(@product) %></b>,
		rezervēti:<b><%= product_batches_reserved_total(@product) %></b>,
		brīvi:<b><% avail = product_batches_available_total(@product) %><%= avail < 0 ? "(#{avail})" : avail %></b>
		<br /><br />
	</tr>
	
		<% nextbatch = 1 %>
		
			<tr>
				<th>Rezervācijas</th>
				<th>Lietotājs</th>
				<th>Rezervēti</th>
				<th>Realizācija</th>
				<th>Komentārs</th>
			</tr>
			
			<% @product.batches.each do |batch| %>
			<tr>
			<%# tr do %>
				<td height="25" valign="bottom" colspan="5">
				Partija: <b><%= batch.arrive_on.to_s(:short_date) %></b>&nbsp;
				daudzums: <b><%= batch.quantity %></b>,
				rezervēti: <b><%= batch_reserved_total(batch) %></b>,
				brīvi: <b><% avail = batch_available_total(batch) %>
				<%= avail <= 0 ? "(#{avail})" : avail %></b>&nbsp;&nbsp;
			
				<% admin_area do %>
					<%= link_to "mainīt", edit_batch_path(batch) %> | 
					<%= link_to "dzēst", batch_path(batch), :method => :delete, :confirm => "tiešām?!"%> |
				<% end %>
			
				<%= link_to "rezervēt", new_batch_order_path(batch) %>
				</td>
			<%# end %>
			</tr>
			
				<%# uzliek naakamaas partijas datumu %>
				<% nb = next_batch(batch.product, nextbatch) %>
				<% nextbatch += 1 %>
				
				<% if batch.orders_from_batches.any? %>
						<% batch.orders_from_batches.each do |orders_from_batch| %>
							<% tr do %>
								<td>
							  <%# šādiem un visiem pārējiem vajadzētu būt helperos (OrdersFromBatchesHelper) %>
							  <%#= orders_from_batches_created orders_from_batches %>
							  <%# vai var proveet lietot to bones esošo l(orders_from_batches).created helperu shortcutu %>
								&nbsp;<%= link_to orders_from_batch.created_at.to_s(:short_date_time), user_order_path(orders_from_batch.order.user, orders_from_batch.order) %> &nbsp;
								</td><td>
								<%= link_to user_login(orders_from_batch.order.user), user_orders_path(orders_from_batch.order.user) %>
								</td><td>
								<%= orders_from_batch.quantity %>
								</td><td>
								
								<% if orders_from_batch.leave_on.to_date < Date.today %>
									<font color="gray"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
								<% elsif orders_from_batch.leave_on.to_date == Date.today || orders_from_batch.leave_on.to_date <= Date.today + 2.days %>
									<font color="red"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
								<% elsif orders_from_batch.leave_on.to_date > Date.today + 2.days && orders_from_batch.leave_on.to_date < Date.today + 7.days %>
									<font color="brown"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
								<% else %>
									<font color="black"><%= orders_from_batch.leave_on.to_s(:short_date) %></font>
								<% end %>
								
								<% if nb && orders_from_batch.leave_on > nb %>
									&darr;
								<% end %>
								
								</td><td>
								<%= h(truncate(orders_from_batch.comment, 25)) %>
								</td>
							<!--
								<td>
								<% admin_area do %>
									<%= link_to "mainīt", edit_order_orders_from_batch_path(orders_from_batch.order, orders_from_batch) %> | 
								<% end %>
								
								<% if current_user_is_order_owner(orders_from_batch.order) || admin? %>	
									<b><%= link_to "dzēst", batch_order_path(orders_from_batch.batch, orders_from_batch.order), :method => :delete, :confirm => "tiešām?!"%></b>
								<% end %>
								</td>
							-->
							<% end %>
						<% end %>
				<% else %>
					<% tr do %>
						<td colspan="6">
							&nbsp;<i>nav rezervāciju</i>
						</td></tr>
					<% end %>
				<% end %>
		<% end %>
<% else %>
	<p>Produktam nav nevienas partijas.</p>
<% end %>

<!--
	<tr><td colspan="6">
		<br />
<% admin_area do %>
  <%#  veel var overraidot link_to_unless shaadiem. defaultais raada linka tekstu, ja unless izpildaas. %>
  <%#  vai uztaisiit link_if_admin_to "pievienot partiju", .... %>
  <%#  
    def link_if_admin_to(*args)
      link_to(*args) if admin?
    end
  %>
	<%= link_to "Pievienot jaunu partiju", new_product_batch_path(@product) %><br />
<% end %>
	</td></tr>
-->
</table>

<p>
	&larr; <%= link_to "atpakaļ", category_path(@product.category) %>
</p>
