<h2><%= product_name(@product) %></h2>

<p>
	<% admin_area do %>
		<%= link_to "mainīt", edit_product_path(@product) %> | skatīt partijas |
		<%= link_to "jauna partija", new_product_batch_path(@product) %> |
	<% end %>
	
	<%= link_to "rezervēt", new_product_order_path(@product) %>  &darr;sorteeshana&uarr; paginate
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @product.batches.any? %>
	<tr>
		<td colspan="6">
		<b>Kopā (noliktavā) kopsh dzimshanas..:</b>
		daudzums:<b><%= @product.batches_quantity_total %></b>,
		rezervēti:<b><%= @product.batches_reserved_total %></b>,
		brīvi:<b><%= @product.batches_available_total %></b>
		<br />
	</tr>
		<%# nextbatch = 1 %>
		<% orderid = 0 %>
			<tr>
				<th width="10px"><%= check_box(123, 123) %></th>
				<th>Rezervācija</th>
				<th>Lietotājs</th>
				<th>Rezervēti</th>
				<th>Realizācija</th>
				<th>Komentārs</th>
			</tr>
			
			<% @product.batches.each do |batch| %>
				<% if batch.orders.any? %>
					<% for order in batch.orders %>
						<% unless orderid == order.id %>
							<% tr do %>
								<td><%= check_box(123, 123) %></td>
								<td>
							  <%# šādiem un visiem pārējiem vajadzētu būt helperos (OrdersFromBatchesHelper) %>
							  <%#= orders_from_batches_created orders_from_batches %>
							  <%# vai var proveet lietot to bones esošo l(orders_from_batches).created helperu shortcutu %>
								&nbsp;<%= link_to order.created_at.to_s(:short_date_time), user_order_path(order.user, order) %> &nbsp;
								</td><td>
								<%= link_to user_login(order.user), user_orders_path(order.user) %>
								</td><td>
								<%= order.quantity %>
								</td><td>
								<% if order.leave_on? %>
									<% if order.leave_on.to_date < Date.today %>
										<font color="gray"><%= order.leave_on.to_s(:short_date) %></font>
									<% elsif order.leave_on.to_date == Date.today || order.leave_on.to_date <= Date.today + 2.days %>
										<font color="red"><%= order.leave_on.to_s(:short_date) %></font>
									<% elsif order.leave_on.to_date > Date.today + 2.days && order.leave_on.to_date < Date.today + 7.days %>
										<font color="brown"><%= order.leave_on.to_s(:short_date) %></font>
									<% else %>
										<font color="black"><%= order.leave_on.to_s(:short_date) %></font>
									<% end %>
								<% else %>
									nav norādīts
								<% end %>
								
								</td><td>
								<%= truncate(h(order.comment), 25) %>
								</td>
					  			<% orderid = order.id %>
					  		<% end %>
					
							<% end %>
						<% end %>
				<% else %>

			<% end %>
		<% end %>
<% else %>
	<p>Produktam nav nevienas partijas.</p>
<% end %>

<%# admin_area do %>
  <%#  veel var overraidot link_to_unless shaadiem. defaultais raada linka tekstu, ja unless izpildaas. %>
  <%#  vai uztaisiit link_if_admin_to "pievienot partiju", .... %>
  <%#  
    def link_if_admin_to(*args)
      link_to(*args) if admin?
    end
  %>
</table><br />

<table border="0" cellspacing="2" cellpadding="2">
	<tr>
		<td><%= button_to "Izpildīts!" %></td>
		<td><%= button_to "Atcelt (dzēst)" %></td>
	</tr>
</table>

<p>
	&larr; <%= link_to "atpakaļ", category_path(@product.category) %>
</p>
