<h2><%= product_name(@product) %></h2>

<p>
	&larr; <%= link_to "atpakaļ", category_path(@product.category) %> |
	<%= link_to_unless @product.batches_available_total <= 0, "rezervēt", new_product_order_path(@product) %>
	
	<% admin_area do %>
		| <%= link_to "mainīt", edit_product_path(@product) %> |
		<%= link_to "dzēst", product_path(@product), :method => :delete, :confirm => "tiešām?!"%> |
		
		<% if current_page?(:show_orders => :all) %>
			<%= link_to "aktīvās rezervācijas", { :action => "show" } %> |
		<% else %>
			<%= link_to "visas rezervācijas", { :action => "show", :show_orders => :all } %> |
		<% end %>
		
		<%= link_to_if @product.batches.any?, "partijas", product_batches_path(@product) %> |
		<%= link_to "jauna partija", new_product_batch_path(@product) %>
		&rarr;
	<% end %>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<% if @product.batches.any? %>
	<tr>
		<td colspan="6">
			<%= product_availability_info %>
		</td>
	</tr>
	<tr>
		<th width="10px"></th>
		<th>Rezervācija</th>
		<th>Lietotājs</th>
		<th>Rezervēti</th>
		<th>Realizācija</th>
		<th>Komentārs</th>
	</tr>
	<% if @product.find_orders.any? %>
		<% for order in @product.find_orders %>
		
			<% unless (params[:show_orders]) != "all" && order.completed? %>
				<%# tr do %>
				<% tr order.completed? ? (options = {:class => "compl"}) : {} do %>
					<td>
						<%#= check_box :order, :completed, {:checked => order.completed?} %>
						<%= link_to image_tag("edit.png", :mouseover => image_path("edit_over.png")), edit_product_order_path(@product, order) %>
					</td>
					<td>
				  <%# šādiem un visiem pārējiem vajadzētu būt helperos (OrdersFromBatchesHelper) %>
				  <%#= orders_from_batches_created orders_from_batches %>
				  <%# vai var proveet lietot to bones esošo l(orders_from_batches).created helperu shortcutu %>
						<%= link_to order.created_at.to_s(:short_date_time), product_order_path(@product, order) %> &nbsp;
					</td>
					<td>
						<%= link_to user_login(order.user), user_orders_path(order.user) %>
					</td>
					<td>
						<%= order.orders_from_batches_quantity_sum %>
					</td>
					<td>
						<% leave_date = order.leave_on.to_date %>
						<% short_leave_date = order.leave_on.to_s(:short_date) %>
					
						<% if leave_date < Date.today %>
							<font color="gray"><%= short_leave_date %></font>
						<% elsif leave_date >= Date.today && leave_date <= Date.today + 2.days %>
							<font color="red"><%= short_leave_date %></font>
						<% elsif leave_date > Date.today + 2.days && leave_date < Date.today + 7.days %>
							<font color="brown"><%= short_leave_date %></font>
						<% else %>
							<font color="black"><%= short_leave_date %></font>
						<% end %>
					</td>
					<td>
						<%= truncate(h(order.comment), 25) %>
					</td>
		  	<% end %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<p>Produktam nav nevienas partijas.</p>
<% end %>

<%# admin_area do %>
  <%#  veel var overraidot link_to_unless shaadiem. defaultais raada linka tekstu, ja unless izpildaas. %>
  <%#  vai uztaisiit link_if_admin_to "pievienot partiju", .... %>
  <%#  
    def link_if_admin_to(*args)
      link_to(*args) if admin?
    end
  %>
</table><br />
